<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/bower_components/angular-growl/build/angular-growl.min.css">
    <link rel="stylesheet" href="/linker/bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="/linker/bower_components/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="/linker/bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="/linker/bower_components/truncate/test/vendor/qunit.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/linker/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/linker/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/linker/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/linker/bower_components/angular-growl/build/angular-growl.js"></script>
    <script src="/linker/bower_components/angular-growl/build/angular-growl.min.js"></script>
    <script src="/linker/bower_components/angular-moment/Gruntfile.js"></script>
    <script src="/linker/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/linker/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/linker/bower_components/angular-moment/karma.conf.js"></script>
    <script src="/linker/bower_components/angular-moment/tests.js"></script>
    <script src="/linker/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/linker/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/linker/bower_components/angular-route/angular-route.js"></script>
    <script src="/linker/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/linker/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/linker/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/linker/bower_components/angular/angular.js"></script>
    <script src="/linker/bower_components/angular/angular.min.js"></script>
    <script src="/linker/bower_components/jquery/dist/jquery.js"></script>
    <script src="/linker/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/jsonp.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/load.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/parseJSON.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/parseXML.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/script.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/var/nonce.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/var/rquery.js"></script>
    <script src="/linker/bower_components/jquery/src/ajax/xhr.js"></script>
    <script src="/linker/bower_components/jquery/src/attributes.js"></script>
    <script src="/linker/bower_components/jquery/src/attributes/attr.js"></script>
    <script src="/linker/bower_components/jquery/src/attributes/classes.js"></script>
    <script src="/linker/bower_components/jquery/src/attributes/prop.js"></script>
    <script src="/linker/bower_components/jquery/src/attributes/support.js"></script>
    <script src="/linker/bower_components/jquery/src/attributes/val.js"></script>
    <script src="/linker/bower_components/jquery/src/callbacks.js"></script>
    <script src="/linker/bower_components/jquery/src/core.js"></script>
    <script src="/linker/bower_components/jquery/src/core/access.js"></script>
    <script src="/linker/bower_components/jquery/src/core/init.js"></script>
    <script src="/linker/bower_components/jquery/src/core/parseHTML.js"></script>
    <script src="/linker/bower_components/jquery/src/core/ready.js"></script>
    <script src="/linker/bower_components/jquery/src/core/var/rsingleTag.js"></script>
    <script src="/linker/bower_components/jquery/src/css.js"></script>
    <script src="/linker/bower_components/jquery/src/css/addGetHookIf.js"></script>
    <script src="/linker/bower_components/jquery/src/css/curCSS.js"></script>
    <script src="/linker/bower_components/jquery/src/css/defaultDisplay.js"></script>
    <script src="/linker/bower_components/jquery/src/css/hiddenVisibleSelectors.js"></script>
    <script src="/linker/bower_components/jquery/src/css/support.js"></script>
    <script src="/linker/bower_components/jquery/src/css/swap.js"></script>
    <script src="/linker/bower_components/jquery/src/css/var/cssExpand.js"></script>
    <script src="/linker/bower_components/jquery/src/css/var/getStyles.js"></script>
    <script src="/linker/bower_components/jquery/src/css/var/isHidden.js"></script>
    <script src="/linker/bower_components/jquery/src/css/var/rmargin.js"></script>
    <script src="/linker/bower_components/jquery/src/css/var/rnumnonpx.js"></script>
    <script src="/linker/bower_components/jquery/src/data.js"></script>
    <script src="/linker/bower_components/jquery/src/data/Data.js"></script>
    <script src="/linker/bower_components/jquery/src/data/accepts.js"></script>
    <script src="/linker/bower_components/jquery/src/data/var/data_priv.js"></script>
    <script src="/linker/bower_components/jquery/src/data/var/data_user.js"></script>
    <script src="/linker/bower_components/jquery/src/deferred.js"></script>
    <script src="/linker/bower_components/jquery/src/deprecated.js"></script>
    <script src="/linker/bower_components/jquery/src/dimensions.js"></script>
    <script src="/linker/bower_components/jquery/src/effects.js"></script>
    <script src="/linker/bower_components/jquery/src/effects/Tween.js"></script>
    <script src="/linker/bower_components/jquery/src/effects/animatedSelector.js"></script>
    <script src="/linker/bower_components/jquery/src/event.js"></script>
    <script src="/linker/bower_components/jquery/src/event/alias.js"></script>
    <script src="/linker/bower_components/jquery/src/event/support.js"></script>
    <script src="/linker/bower_components/jquery/src/exports/amd.js"></script>
    <script src="/linker/bower_components/jquery/src/exports/global.js"></script>
    <script src="/linker/bower_components/jquery/src/intro.js"></script>
    <script src="/linker/bower_components/jquery/src/jquery.js"></script>
    <script src="/linker/bower_components/jquery/src/manipulation.js"></script>
    <script src="/linker/bower_components/jquery/src/manipulation/_evalUrl.js"></script>
    <script src="/linker/bower_components/jquery/src/manipulation/support.js"></script>
    <script src="/linker/bower_components/jquery/src/manipulation/var/rcheckableType.js"></script>
    <script src="/linker/bower_components/jquery/src/offset.js"></script>
    <script src="/linker/bower_components/jquery/src/outro.js"></script>
    <script src="/linker/bower_components/jquery/src/queue.js"></script>
    <script src="/linker/bower_components/jquery/src/queue/delay.js"></script>
    <script src="/linker/bower_components/jquery/src/selector-native.js"></script>
    <script src="/linker/bower_components/jquery/src/selector-sizzle.js"></script>
    <script src="/linker/bower_components/jquery/src/selector.js"></script>
    <script src="/linker/bower_components/jquery/src/serialize.js"></script>
    <script src="/linker/bower_components/jquery/src/sizzle/dist/sizzle.js"></script>
    <script src="/linker/bower_components/jquery/src/sizzle/dist/sizzle.min.js"></script>
    <script src="/linker/bower_components/jquery/src/traversing.js"></script>
    <script src="/linker/bower_components/jquery/src/traversing/findFilter.js"></script>
    <script src="/linker/bower_components/jquery/src/traversing/var/rneedsContext.js"></script>
    <script src="/linker/bower_components/jquery/src/var/arr.js"></script>
    <script src="/linker/bower_components/jquery/src/var/class2type.js"></script>
    <script src="/linker/bower_components/jquery/src/var/concat.js"></script>
    <script src="/linker/bower_components/jquery/src/var/hasOwn.js"></script>
    <script src="/linker/bower_components/jquery/src/var/indexOf.js"></script>
    <script src="/linker/bower_components/jquery/src/var/pnum.js"></script>
    <script src="/linker/bower_components/jquery/src/var/push.js"></script>
    <script src="/linker/bower_components/jquery/src/var/rnotwhite.js"></script>
    <script src="/linker/bower_components/jquery/src/var/slice.js"></script>
    <script src="/linker/bower_components/jquery/src/var/strundefined.js"></script>
    <script src="/linker/bower_components/jquery/src/var/support.js"></script>
    <script src="/linker/bower_components/jquery/src/var/toString.js"></script>
    <script src="/linker/bower_components/jquery/src/var/trim.js"></script>
    <script src="/linker/bower_components/jquery/src/wrap.js"></script>
    <script src="/linker/bower_components/moment/lang/ar-ma.js"></script>
    <script src="/linker/bower_components/moment/lang/ar.js"></script>
    <script src="/linker/bower_components/moment/lang/bg.js"></script>
    <script src="/linker/bower_components/moment/lang/br.js"></script>
    <script src="/linker/bower_components/moment/lang/bs.js"></script>
    <script src="/linker/bower_components/moment/lang/ca.js"></script>
    <script src="/linker/bower_components/moment/lang/cs.js"></script>
    <script src="/linker/bower_components/moment/lang/cv.js"></script>
    <script src="/linker/bower_components/moment/lang/cy.js"></script>
    <script src="/linker/bower_components/moment/lang/da.js"></script>
    <script src="/linker/bower_components/moment/lang/de.js"></script>
    <script src="/linker/bower_components/moment/lang/el.js"></script>
    <script src="/linker/bower_components/moment/lang/en-au.js"></script>
    <script src="/linker/bower_components/moment/lang/en-ca.js"></script>
    <script src="/linker/bower_components/moment/lang/en-gb.js"></script>
    <script src="/linker/bower_components/moment/lang/eo.js"></script>
    <script src="/linker/bower_components/moment/lang/es.js"></script>
    <script src="/linker/bower_components/moment/lang/et.js"></script>
    <script src="/linker/bower_components/moment/lang/eu.js"></script>
    <script src="/linker/bower_components/moment/lang/fa.js"></script>
    <script src="/linker/bower_components/moment/lang/fi.js"></script>
    <script src="/linker/bower_components/moment/lang/fo.js"></script>
    <script src="/linker/bower_components/moment/lang/fr-ca.js"></script>
    <script src="/linker/bower_components/moment/lang/fr.js"></script>
    <script src="/linker/bower_components/moment/lang/gl.js"></script>
    <script src="/linker/bower_components/moment/lang/he.js"></script>
    <script src="/linker/bower_components/moment/lang/hi.js"></script>
    <script src="/linker/bower_components/moment/lang/hr.js"></script>
    <script src="/linker/bower_components/moment/lang/hu.js"></script>
    <script src="/linker/bower_components/moment/lang/hy-am.js"></script>
    <script src="/linker/bower_components/moment/lang/id.js"></script>
    <script src="/linker/bower_components/moment/lang/is.js"></script>
    <script src="/linker/bower_components/moment/lang/it.js"></script>
    <script src="/linker/bower_components/moment/lang/ja.js"></script>
    <script src="/linker/bower_components/moment/lang/ka.js"></script>
    <script src="/linker/bower_components/moment/lang/ko.js"></script>
    <script src="/linker/bower_components/moment/lang/lb.js"></script>
    <script src="/linker/bower_components/moment/lang/lt.js"></script>
    <script src="/linker/bower_components/moment/lang/lv.js"></script>
    <script src="/linker/bower_components/moment/lang/mk.js"></script>
    <script src="/linker/bower_components/moment/lang/ml.js"></script>
    <script src="/linker/bower_components/moment/lang/mr.js"></script>
    <script src="/linker/bower_components/moment/lang/ms-my.js"></script>
    <script src="/linker/bower_components/moment/lang/nb.js"></script>
    <script src="/linker/bower_components/moment/lang/ne.js"></script>
    <script src="/linker/bower_components/moment/lang/nl.js"></script>
    <script src="/linker/bower_components/moment/lang/nn.js"></script>
    <script src="/linker/bower_components/moment/lang/pl.js"></script>
    <script src="/linker/bower_components/moment/lang/pt-br.js"></script>
    <script src="/linker/bower_components/moment/lang/pt.js"></script>
    <script src="/linker/bower_components/moment/lang/ro.js"></script>
    <script src="/linker/bower_components/moment/lang/rs.js"></script>
    <script src="/linker/bower_components/moment/lang/ru.js"></script>
    <script src="/linker/bower_components/moment/lang/sk.js"></script>
    <script src="/linker/bower_components/moment/lang/sl.js"></script>
    <script src="/linker/bower_components/moment/lang/sq.js"></script>
    <script src="/linker/bower_components/moment/lang/sv.js"></script>
    <script src="/linker/bower_components/moment/lang/ta.js"></script>
    <script src="/linker/bower_components/moment/lang/th.js"></script>
    <script src="/linker/bower_components/moment/lang/tl-ph.js"></script>
    <script src="/linker/bower_components/moment/lang/tr.js"></script>
    <script src="/linker/bower_components/moment/lang/tzm-la.js"></script>
    <script src="/linker/bower_components/moment/lang/tzm.js"></script>
    <script src="/linker/bower_components/moment/lang/uk.js"></script>
    <script src="/linker/bower_components/moment/lang/uz.js"></script>
    <script src="/linker/bower_components/moment/lang/vn.js"></script>
    <script src="/linker/bower_components/moment/lang/zh-cn.js"></script>
    <script src="/linker/bower_components/moment/lang/zh-tw.js"></script>
    <script src="/linker/bower_components/moment/min/langs.js"></script>
    <script src="/linker/bower_components/moment/min/langs.min.js"></script>
    <script src="/linker/bower_components/moment/min/moment-with-langs.js"></script>
    <script src="/linker/bower_components/moment/min/moment-with-langs.min.js"></script>
    <script src="/linker/bower_components/moment/min/moment.min.js"></script>
    <script src="/linker/bower_components/moment/moment.js"></script>
    <script src="/linker/bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="/linker/bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="/linker/bower_components/showdown/compressed/extensions/github.js"></script>
    <script src="/linker/bower_components/showdown/compressed/extensions/google-prettify.js"></script>
    <script src="/linker/bower_components/showdown/compressed/extensions/twitter.js"></script>
    <script src="/linker/bower_components/showdown/compressed/showdown.js"></script>
    <script src="/linker/bower_components/showdown/src/extensions/github.js"></script>
    <script src="/linker/bower_components/showdown/src/extensions/prettify.js"></script>
    <script src="/linker/bower_components/showdown/src/extensions/table.js"></script>
    <script src="/linker/bower_components/showdown/src/extensions/twitter.js"></script>
    <script src="/linker/bower_components/showdown/src/showdown.js"></script>
    <script src="/linker/bower_components/truncate/jquery.truncate.js"></script>
    <script src="/linker/bower_components/truncate/test/index.js"></script>
    <script src="/linker/bower_components/truncate/test/vendor/jquery.js"></script>
    <script src="/linker/bower_components/truncate/test/vendor/qunit.js"></script>
    <script src="/linker/bower_components/truncate/test/vendor/runner.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
