<header ng-controller="NavCtrl">

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"><h1><a href="/">Blog</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff" ng-model="searchQuery">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand" ng-click="search()">Search</a>
            </div>
          </div>
        </li>
        <li><a ng-hide="isAuthenticated" ng-click="open()">Login</a></li>
        <li ng-show="isAuthenticated"><a href="/#!/post/create">New Post</a></li>
        <li ng-show="isAuthenticated"><a ng-click="logout()">Logout</a></li>
      </ul>
    </section>

  </nav>

  <div class="row" ng-show="alerts">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>

</header>

<img ng-src="{{ bannerImage }}" alt="{{ metaTitle }}" bannerload ng-hide="!!hideBannerImage">

<main class="row" ng-view></main>

<div growl></div>